            <!-- form handling -->
            <form action="/api/departments" method="POST" id="add_departments">
                <div class="new-_user">
                    <div class="form-group">
                        <label for="department" class="text-light">Department</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="department" placeholder="Department">
                    </div>
                    <div class="form-group">
                        <label for="location" class="text-light">Location</label>
                        <input type="text" name="location" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="status" class="text-light">Status</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-4" name="status" value="Active">
                            <label for="radio-4" class="radio-label">Active</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-5" name="status" value="Inactive">
                            <label for="radio-5" class="radio-label">Inactive</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>