            <!-- form handling -->
            <form action="/api/salaries" method="POST" id="add-salary">
                <div class="new-_salary">
                    <div class="form-group">
                        <label for="cars" class="text-light">Choose an Employee:</label>
                        <select name="name" id="name">
                          <option value="name"></option>
                        </select>
                        <input type="hidden" name="id" value="">
                    </div>
                    <div class="form-group">
                        <label for="salary" class="text-light">Salary</label>
                        <input type="text" name="salary" placeholder="Enter salary">
                    </div>
                    <div class="form-group">
                        <label for="bonus" class="text-light">Bonus in %</label>
                        <input type="text" name="bonus" placeholder="Enter bonus">
                    </div>
                    <div class="form-group">
                        <label for="total" class="text-light">Total</label>
                        <input type="text" name="total" placeholder="Enter total salary">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>