<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- Main Section -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/departments"><i class="fas fa-angle-double-left"></i> Departments</a>
                </div>
            </div>
            <div class="form-title text text-center">
                <h2 class="text-dark">Add Department</h2>
                <span class="text-light">Use the form bellow to create a new department</span>
            </div>
            <!-- add user form -->
            <%- include('include/_formdepartments') %>
            <!-- /add user form -->

        </div>
    </main>
        <!-- /Main Section -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->