<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- Main Section -->
    <main id="site-main">
        <div class="container">
            <h1 class="welcome">Welcome to the hcm app</h1>
            <div class="box-nav d-flex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient">Employees <i class="fas fa-user"></i></span>
                </a>
                <a href="/login" class="border-shadow">
                    <span class="text-gradient">Login <i class="fas fa-user"></i></span>
                </a>
                </a>
                <a href="/salary" class="border-shadow">
                    <span class="text-gradient">Salaries <i class="fas fa-money-check-alt"></i></span>
                </a>
                <a href="/departments" class="border-shadow">
                    <span class="text-gradient">Departments <i class="fa-solid fa-building"></i></span>
                </a>
                <a href="/dayoff" class="border-shadow">
                    <span class="text-gradient">Day Offs <i class="fas fa-suitcase-rolling"></i></span>
                </a>
            </div>
        </div>
    </main>
        <!-- /Main Section -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->