<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- Main Section -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> Home</a>
                </div>
            </div>
            <div class="form-title text text-center">
                <h2 class="text-dark">Login</h2>
                <span class="text-light">Login to your account</span>
            </div>
            <!-- add user form -->
            <%- include('include/_loginform') %>
            <!-- /add user form -->

            <a href="/signup">Don't have an account? Sign up!</a>

        </div>
    </main>
        <!-- /Main Section -->

        <script>
			const form = document.getElementById('login-form')
			form.addEventListener('submit', login)

			async function login(event) {
				event.preventDefault()
				const username = document.getElementById('username').value
				const password = document.getElementById('password').value

				const result = await fetch('/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						username,
						password
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everythign went fine
                    console.log('Got the token', result.data)
					alert('Success')
				} else {
					alert(result.error)
				}
			}
            console.log(result)
		</script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->