<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- Main Section -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/login"><i class="fas fa-angle-double-left"></i> Login</a>
                </div>
            </div>
            <div class="form-title text text-center">
                <h2 class="text-dark">Sign Up</h2>
                <span class="text-light">Create an account</span>
            </div>
            <!-- add user form -->
            <%- include('include/_signupform') %>
            <!-- /add user form -->

            <a href="/login">Already have an account? Login!</a>

        </div>
    </main>
        <!-- /Main Section -->

        <script>
			const form = document.getElementById('signup-form')
			form.addEventListener('submit', registerUser)

			async function registerUser(event) {
				event.preventDefault()
				const username = document.getElementById('username').value
				const password = document.getElementById('password').value

				const result = await fetch('/signup', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						username,
						password
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everythign went fine
					alert('Success')
				} else {
					alert(result.error)
				}
			}
            console.log(result)
		</script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->